:root{
  --nav-font-color: #b81456 !important;
  --nav-font-hover-color:#ec4076! important;
  --dropdown-bg: rgba(197, 43, 43, 0.57) !important;
  --drodown-item-hover-bg: rgba(197, 43, 43, 0.57) !important;
  --font-family: Arial, Helvetica, sans-serif;
}
body {
  padding: 0px;
  margin: 0px;
}
.title {
  font-size: 24px;
  line-height: 1.67;
  color: #171717;
  font-weight: 400;
  font-size: normal;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
}
.sub-title {
  font-size: 18px;
  line-height: 1.67;
  color: #171717;
  font-weight: 700;
  font-size: normal;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
}
main{
  padding-top: 60px;
}
/* start top header  */
.top-header {
  position: fixed;
  top: 0px; 
  left: 0px;
  right: 0px;
}
.top-header .navbar-brand img {
  width: 90px;
}
.top-header .navbar-toggler {
  border:none;
  border-radius: 0px;
}
.top-header .navbar-toggler:focus {
  box-shadow: none;
}
.top-header .navbar-collapse {
  border-top: 1px solid #ececec;
}
.top-header ul li a {
  padding-left: 15px !important;
  color: #333333 !important;
  font-size: 12px;
  font-family: var(--font-family);
}
.top-header .accordion {
  padding-left: 15px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --bs-accordion-btn-padding-x: 0px;
  --bs-accordion-btn-padding-y: 0px;
}
.top-header .accordion-button {
  color: #333333;
  font-size: 12px;
  font-family: var(--font-family);
  background-color: #fff;
}
.top-header .accordion-button:focus {
  box-shadow: none;
}
/* start top header  */
/* start header left  */
.left-header {
  width: 300px;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 2;
}
.left-header .navbar-brand{
  border-bottom: 1px solid #f2f2f2;
  padding: 0px;
  margin: 0px;
  width: 100%;
  text-align: center;
}
.left-header .navbar-brand img {
  width: 90px;
}
.dropend button{
  color: var(--nav-font-color);
  background: none;
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 700;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 60px;
}
.dropend button i {
  margin-left: 30px;
}
.dropend .dropdown-menu[data-bs-popper] {
  left: 286px;
  width: 265px;
  --bs-dropdown-border-width: none;
}
.dropend .dropdown-menu {
  font-weight: 400;
  font-size: 13px;
  background: linear-gradient(to bottom, #a92348 0%, #dc2b83 100%);
  --bs-dropdown-padding-y: 0px;
  --bs-dropdown-border-color: #fff;
  --bs-dropdown-border-radius: ;
}
.dropend .dropdown-menu a {
  color: #fff !important;
  border-bottom: 1px solid #f2f2f2;
  padding-left: 15px !important;
}
.dropend .dropdown-menu a:last-child {
  border-bottom: none;
}
.dropend .dropdown-menu a:hover {
  background-color: var(--drodown-item-hover-bg);
  color: #fff !important;
}
.left-header ul li {
  border-bottom: 1px solid  #ececec;
}
.left-header ul li> a {
  width: 100%;
  color: var(--nav-font-color);
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 700;
  font-size: normal;
  padding-left: 60px !important;
}
.left-header ul li a:hover {
  color: var(--nav-font-hover-color) !important;
}
.left-header ul li a:focus {
  color: var(--nav-font-hover-color) !important;
}
.social-link {
  display: flex;
  justify-content: space-between;
  padding: 50px 50px;
}
.social-link span {
  width: 40px;
  height: 40px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-link .fb, .social-link .insta {
  background-color: #3b5998;
}
.social-link .tr{
  background-color:#55acee;
}
.social-link .pin {
  background-color: #bd081c;
}
.odernow-btn button {
  border: none;
  background-color: #ed1559;
  height: 40px;
  width: fit-content;
  padding: 6px 30px;
  color: #fff;
  text-transform: uppercase;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
}
.odernow-btn span {
  background-color: #ed1559;
  color: #fff;
  height: 40px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1px;
  padding: 6px 14px; 
}
/* start bannar slider  */
.banner-slider .swiper-button-prev, .swiper-button-next{
  opacity: 0;
}
.banner-slider:hover  .swiper-button-prev{
 opacity: 1;
}
.banner-slider  .swiper-button-next{
  opacity: 0;
}
.banner-slider:hover  .swiper-button-next{
 opacity: 1;
}
.banner-slider .swiper-button-next,
.banner-slider .swiper-button-prev {
  background-color: rgba(0,0,0,.5);
  padding: 25px;
  transition: opacity 0.6s ease-in-out;
}
.banner-slider .swiper-button-next::after,
.banner-slider .swiper-button-prev::after  {
  color: #fff !important;
  font-size: 25px;
}
/* end bannar slider  */
/* content  */
.content {
  padding: 0px 20px;
}
.readmor-container > div > div {
  background-color: #e7eaee;
  padding: 20px;
  padding-bottom: 40px;
  position: relative;
  height: 100%;
  z-index: 0;
}
.readmor-container > div > div button {
  position: absolute;
  bottom: 0px;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  width: 175px;
  border: none;
  padding: 6px 15px;
  background: red;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
/* footer  */
.footer-top{
  background-color: rgba(255,255,255,0);
  background-image: url("http://sunitix.net/wp-content/uploads/2017/08/Home-page-300x169.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-right: 3px;
  padding-bottom: 80px;
  background-size: cover;
  background-attachment: fixed;
}
.global-s {
  color: #000080;
  font: 26px;
  font-weight: 400;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
}
.footer-top-btn {
  padding: 13px 29px;
  line-height: 17px;
  font-size: 14px;
  background-color: #ed1559;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-bottom {
  background-color: #1d2939;
}
.footer-bottom-item h4{
  font-size: 13px;
  text-align: center;
  padding: 5px 0px;
  margin-bottom: 28px;
  background-color: #bd081c;
  color: #fff;
  font-family: var(--font-family);
}
.footer-link li {
  padding: 10px 0px;
  border-bottom: 1px dotted #7a7c7f;
}
.footer-link li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-family: var(--font-family);
  display: block;
}
.footer-link li a:hover {
  color:#dc2b83;
}
.footer-bottom-item p {
  color: #b6c0ce;
  font-size: 16px;
  font-family: var(--font-family);
  line-height: 30px;
}
.footeritem-p-color{
  color: #0082f4;
}
.link span i {
  color: #fff;
}
.copyright-text {
  font-size: 13px;
  font-family: var(--font-family);
}